/* *{
    /* box-sizing: border-box; */
    /* padding: 0;
 margin: 10px;    
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: red;
    /* margin: 0,30px; */
/* 
}
li , a{
    display: inline-block;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 0);
    /* border: 1px solid rgb(167, 44, 44); */
    /* border-collapse: collapse  ;
    border-radius: 10%; */
    /* margin: 10px; */
    /* background-color: rgb(44, 44, 158);
    padding: 3px; */
*{
    margin: 0;
    padding: 0;

}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
nav{
    background-color: #bf211e;
    height: 80PX;   
}
li , a{
    display: inline-block;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color: #ffbc0a;
    border: 1px solid ;
    /* border-collapse: collapse  ; */
     border-radius: 10%; 
    margin: 10px;
        background-color: #0267c1;
    /* padding: 3px; */
}